.interna-sobre {
    background: url("../images/bg-sobre.jpg") no-repeat center;
}

.missao-sobre {
    max-width: 58.2vw;
    font-size: 18px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}

.missao-sobre p {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    width: 635px;
    padding-right: 60px;
}

.missao-sobre ul {
    width: 300px;
    padding-bottom: 115px;
}

.missao-sobre ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
}

.container-text {
    display: flex;
}